<p-panel header="Custom Pipes" class="p-1">
  <p>Pipes customized by {{'Us' | toggleCasePipe:isUpperCase}}</p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-end">
    <button (click)="isUpperCase = !isUpperCase " label="ToggleCase" pButton icon="pi pi-plus" class="mr-2"></button>

  </div>
  <div class="p-toolbar-group-end">
    <button (click)="orderBy = 'name'" label="By name" pButton icon="pi pi-sort" class="mr-2"></button>
    <button (click)="orderBy = 'canFly'" label="By fly" pButton icon="pi pi-sort"></button>
    <button (click)="orderBy = 'color'" label="By color" pButton icon="pi pi-sort"></button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-table [value]="heroes | sortByPipe:orderBy" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Can fly</th>
          <th>Color</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{ hero.name }}</td>
          <td>{{ hero.canFly | canFly}}</td>
          <td>{{ hero.color }}</td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
